# Optional: Use custom RPC endpoint
# NEXT_PUBLIC_SOLANA_RPC_URL=https://api.devnet.solana.com

# Optional: Change wallet address
# NEXT_PUBLIC_WALLET_ADDRESS=HHkwN3JrBpfwC2z9ReFcoN6NkSoQujeKK4Wt1QFCgWQG
